body {
	box-sizing: border-box;
	margin: 0;
}

/* NAV SECTION */
.nav-link {
	color: white;
}

.nav-link:hover {
	color: grey;
}

.user-icon {
	width: 80px;
	height: 75px;
	margin-right: 5.5em;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.company-logo {
	width: 75px;
	height: 75px;
}

/* MAIN SECTION */

.homepage {
	height: 50vh;
	width: 100%;
	background-image: url("https://www.umass.edu/campusrec/sites/default/files/styles/slideshow_image/public/images/slideshow/rec-center-image.jpg?itok=cKIO2kIF");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* INFO SECTION */
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.info-text {
	width: 70%;
}

.info-title {
	text-align: center;
	font-size: 3rem;
}

.info-pic {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

/* MATCHING PAGE */

.title {
	background-color: #dbd4d3;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0;
}

/* MAIN SECTION */

.slider {
	text-align: center;
	background-color: #dbd4d3;
}

.footer {
	background-color: #393e46;
	height: 13em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-text {
	color: #eeeeee;
	opacity: 0.3;
}

.name {
	margin-top: 0.5em;
}

.caro-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-item {
	height: 700px;
	width: 500px;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 5em;
	padding: 1.5em;
	border-radius: 10px;
	background-color: #757780;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#carouselDiv {
	display: flex;
}

.name {
	color: #061826;
	font-size: 1.5rem;
}

.workout-split {
	color: #061826;
	font-size: 1.25rem;
}

.info-sec {
	color: #061826;
	font-size: 1.1rem;
	margin: 0.3em;
}

.show-info {
	font-size: 1.5rem;
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.show-info:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.show-info:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.show-info:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

.selection {
	margin-top: 0;
	padding: 1em;
}

.yes {
	font-size: 4.2em;
	color: #061826;
	opacity: 0.6;
	padding: 0.25em;
	transform: scale(1);
	transition: transform 250ms;
}

.no {
	font-size: 3.4em;
	color: #061826;
	opacity: 0.6;
	padding: 0.25em;
	padding-bottom: 0.5em;
	transform: scale(1);
	transition: transform 250ms;
}

.yes:hover,
.yes:focus,
.no:hover,
.no:focus {
	transform: scale(1.2);
	opacity: 0.9;
}

.select-btn {
	background: none;
	border: none;
}

/* Login */

body#background {
	background-image: url("https://nypost.com/wp-content/uploads/sites/2/2018/01/012018_gym_buddies.jpg?quality=75&strip=all");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: navy;
	height: 100vh;
}

#rectangleBox {
	width: 300px;
	background-color: rgba(181, 186, 186, 0.925);
	border: 5px solid green;
	text-align: center;
	margin: auto;
}

#signupToggle {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#error-text {
	color: red;
	margin: 0;
}

/* MATCH HISTORY*/
.workouts-carousel-item {
	height: 300px;
}

.border-2 {
	height: 300px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	filter: invert(100%);
	margin-bottom: 4em;
}

.add-workout-icon {
	object-fit: cover;
	width: 140px;
	height: 140px;
}

.prev-match-img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-right: 4em;
}

.prev-matches-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.prev-matches-name {
	font-size: 210%;
	font-weight: 500;
}

.prev-matches-info {
	font-size: 150%;
	font-weight: 400;
}

.hidden-file-picker {
	display: none;
}

.profile-picture-preview {
	width: 200px;
	height: 200px;
	object-fit: cover;
}
