body {
	box-sizing: border-box;
	margin: 0;
}

.custom-modal {
	width: 400px;
	height: 400px;
	border-radius: 10px;
}

/* NAV SECTION */
.nav-link {
	color: white;
}

.nav-link:hover {
	color: grey;
}

.user-icon {
	width: 80px;
	height: 75px;
	margin-right: 5.5em;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.company-logo {
	width: 75px;
	height: 75px;
}

/* MAIN SECTION */

.homepage {
	height: 50vh;
	width: 100%;
	background-image: url("https://www.umass.edu/campusrec/sites/default/files/styles/slideshow_image/public/images/slideshow/rec-center-image.jpg?itok=cKIO2kIF");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* INFO SECTION */
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.info-text {
	width: 70%;
}

.info-title {
	text-align: center;
	font-size: 3rem;
}

.info-pic {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

/* MATCHING PAGE */

.title {
	background-color: #dbd4d3;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0;
}

/* MAIN SECTION */

.slider {
	text-align: center;
	background-color: #dbd4d3;
}

.footer {
	background-color: #393e46;
	height: 13em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-text {
	color: #eeeeee;
	opacity: 0.3;
}

.name {
	margin-top: 0.5em;
}

.caro-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-item {
	height: 700px;
	width: 500px;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 5em;
	padding: 1.5em;
	border-radius: 10px;
	background-color: #d6e4e5;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#carouselDiv {
	display: flex;
}

.name {
	color: #061826;
	font-size: 1.5rem;
}

.workout-split {
	color: #061826;
	font-size: 1.25rem;
}

.info-sec {
	color: #061826;
	font-size: 1.1rem;
	margin: 0.3em;
}

.show-info {
	font-size: 1.5rem;
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.show-info:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.show-info:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.show-info:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

.selection {
	margin-top: 0;
	padding: 1em;
}

.yes {
	font-size: 4.2em;
	color: #061826;
	opacity: 0.6;
	padding: 0.25em;
	transform: scale(1);
	transition: transform 250ms;
}

.no {
	font-size: 3.4em;
	color: #061826;
	opacity: 0.6;
	padding: 0.25em;
	padding-bottom: 0.5em;
	transform: scale(1);
	transition: transform 250ms;
}

.yes:hover,
.yes:focus,
.no:hover,
.no:focus {
	transform: scale(1.2);
	opacity: 0.9;
}

/* Login */

#signup {
	margin-top: 2em;
}

.modal-content {
	height: 600px;
}

.modal-body {
	margin: 1em 0;
}

#close {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: transparent;
	color: black;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}

#close:focus {
	outline: solid 0 transparent;
	box-shadow: 0 0 0 2px black;
}

#close:hover {
	background: #b6b6b6;
}

#close:before,
#close:after {
	position: absolute;
	top: 15%;
	left: calc(50% - 0.0625em);
	width: 0.125em;
	height: 70%;
	border-radius: 0.125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: "";
}

#close:after {
	transform: rotate(-45deg);
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	padding: 1em;
}

.signup-input {
	display: block;
}

.login-creds {
	margin: 0.5em 0;
}

.login-form {
	padding: 2em;
}

#background {
	background-image: url("https://nypost.com/wp-content/uploads/sites/2/2018/01/012018_gym_buddies.jpg?quality=75&strip=all");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: navy;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signupToggle {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#error-text {
	color: red;
	margin: 0;
}

/* MATCH HISTORY*/

#matchHistory-background{
	background-color: #dbd4d3;
}

#plus1,
#plus2,
#plus3 {
	padding: 0;
	border: none;
	background: none;
}

#noWorkoutText1, 
#noWorkoutText2 {
	text-align: center;
}

.accordion-button{
	background-color: #d6e4e5;
	border-color: black;
}

.accordion-button:not(.collapsed) {
	background-color: #c6d9db;
	color: black;
}

.accordion-body{
	background-color: #D3DADB ;
}

.matchHistory-btn {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.matchHistory-btn:hover {
	background-color: #fff;
}

.matchHistory-btn:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.modal-revert {
	background-color: #d6e4e5;
	height: revert;
}

.form-group-revert {
	display: revert;
	height: revert;
}

.workouts-carousel-item {
	height: 300px;
}

.border-2 {
	height: 300px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	filter: invert(100%);
	margin-bottom: 4em;
}

.add-workout-card{
	background-color: #D3DADB;
}

.add-workout-icon {
	object-fit: cover;
	width: 140px;
	height: 140px;
}

.prev-match-img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-right: 4em;
}

.prev-matches-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.prev-matches-name {
	font-size: 210%;
	font-weight: 500;
}

.prev-matches-info {
	font-size: 150%;
	font-weight: 400;
}

.hidden-file-picker {
	display: none;
}

.profile-picture-preview {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.profile-btn {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.profile-btn:hover {
	background-color: #fff;
}

.profile-btn:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.profile-btn {
		min-width: 120px;
		padding: 0 25px;
	}
}

.main {
	margin: 0 auto;
	width: 80%;
	background-color: #dbd4d3;
}

.profile-inputs {
	margin: 0 auto;
	width: 80%;
	background-color: #757780;
	border-radius: 10%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#carouselDiv {
	display: flex;
}

.name {
	color: #061826;
	font-size: 1.5rem;
}

.workout-split {
	color: #061826;
	font-size: 1.25rem;
}

.info-sec {
	color: #061826;
	font-size: 1.1rem;
	margin: 0.3em;
}

.select-btn {
	background: none;
	border: none;
}

/* Login */

body#background {
	background-image: url("https://nypost.com/wp-content/uploads/sites/2/2018/01/012018_gym_buddies.jpg?quality=75&strip=all");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: navy;
	height: 100vh;
}

#rectangleBox {
	height: 425px;
	padding: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	background-color: white;
	width: 300px;
	text-align: center;
	margin: auto;
	padding: 1em;
	text-align: center;
}

#signupToggle {
	background: none;
	border: none;
	margin-top: 2.5em;
	padding: 0;
	cursor: pointer;
}

#error-text,
#password-error-text,
#email-error-text,
#signup-email-error-text,
#signup-password-error-text,
#first-name-error-text,
#last-name-error-text,
#signup-password--error-text,
#confirm-password-error-text {
	color: red;
	margin: 0;
	font-size: 0.75em;
	text-align: left;
}


.hidden-file-picker {
	display: none;
}

.profile-picture-preview {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.profile-btn {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.profile-btn:hover {
	background-color: #fff;
}

.profile-btn:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.profile-btn {
		min-width: 120px;
		padding: 0 25px;
	}
}

.field__input {
	--uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

	background-color: transparent;
	border-radius: 0;
	border: none;

	font-family: inherit;
	font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
	color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
	color: var(--uiFieldPlaceholderColor);
}

.field {
	--uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
	--uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
	--uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
	--uiFieldBorderColorActive: var(
		--fieldBorderColorActive,
		rgba(22, 22, 22, 1)
	);

	display: var(--fieldDisplay, inline-flex);
	position: relative;
	font-size: var(--fieldFontSize, 1rem);
}

.field__input {
	box-sizing: border-box;
	width: var(--fieldWidth, 100%);
	height: var(--fieldHeight, 3rem);
	padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight)
		var(--fieldPaddingBottom, 0.5rem) var(--uiFieldPaddingLeft);
	border-bottom: var(--uiFieldBorderWidth) solid
		var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field__input:focus {
	outline: none;
}

.field__input::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.field__input::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
	opacity: 1;
	transition-delay: 0.2s;
}

.field__input:focus::-moz-placeholder {
	opacity: 1;
	transition-delay: 0.2s;
}

.field__label-wrap {
	box-sizing: border-box;
	pointer-events: none;
	cursor: text;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.field__label-wrap::after {
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 0;
	opacity: 0;

	position: absolute;
	bottom: 0;
	left: 0;
}

.field__input:focus ~ .field__label-wrap::after {
	opacity: 1;
}

.field__label {
	position: absolute;
	left: var(--uiFieldPaddingLeft);
	top: calc(50% - 0.5em);

	line-height: 1;
	font-size: var(--fieldHintFontSize, inherit);

	transition: top 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
		opacity 0.2s ease-out, font-size 0.2s ease-out;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
	--fieldHintFontSize: var(--fieldHintFontSizeFocused, 0.75rem);

	top: var(--fieldHintTopHover, 0.25rem);
}

/* 
effect 1
*/

.field_v1 .field__label-wrap::after {
	border-bottom: var(--uiFieldBorderWidth) solid
		var(--uiFieldBorderColorActive);
	transition: opacity 0.2s ease-out;
}

/* 
effect 2
*/

.field_v2 .field__label-wrap {
	overflow: hidden;
}

.field_v2 .field__label-wrap::after {
	border-bottom: var(--uiFieldBorderWidth) solid
		var(--uiFieldBorderColorActive);
	transform: translate3d(-105%, 0, 0);
	transition: transform 0.285s ease-out 0.2s, opacity 0.2s ease-out 0.2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after {
	transform: translate3d(0, 0, 0);
	transition-delay: 0;
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after {
	border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
	transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after {
	height: 100%;
}

.field {
	--fieldBorderColor: #d1c4e9;
	--fieldBorderColorActive: #673ab7;
}

.ha-screen-reader {
	width: var(--ha-screen-reader-width, 1px);
	height: var(--ha-screen-reader-height, 1px);
	padding: var(--ha-screen-reader-padding, 0);
	border: var(--ha-screen-reader-border, none);

	position: var(--ha-screen-reader-position, absolute);
	clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
	overflow: var(--ha-screen-reader-overflow, hidden);
}

.main {
	margin: 0 auto 6em auto;
	width: 80%;
	background-color: #dbd4d3;
}

.profile-inputs {
	padding: 0.2em 0 3em 0;
	margin: 2em auto;
	width: 80%;
	background-color: #d6e4e5;
	border-radius: 2%;
	color: #061826;
}

.profile-btns {
	font-size: 1.1rem;
	width: 500px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-start;
}

.profile-background {
	background-color: #dbd4d3;
}

.profile-btns {
	width: 500px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-start;
}

.pfp-btn {
	margin-bottom: 1em;
}

/* GOOGLE BTNS */
.button-17 {
	align-items: center;
	appearance: none;
	background-color: #fff;
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
		rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
	box-sizing: border-box;
	color: #3c4043;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	justify-content: center;
	letter-spacing: 0.25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
}

.button-17:hover {
	background: #f6f9fe;
	color: #174ea6;
}

.button-17:active {
	box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
		0 8px 12px 6px rgb(60 64 67 / 15%);
	outline: none;
}

.button-17:focus {
	outline: none;
	border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
	box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
		rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
	box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
		rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

#noMoreMatches {
	margin: auto;
}

#removeMatch1:hover {

}